.tile {
    --x: 0;
    --y: 0;

    --bg-color-lightness: 91%;
    --text-color-lightness: 1%;

    position: absolute;

    top: calc($board-padding + (var(--y) * ($cell-size + $board-gap)));
    left: calc($board-padding + (var(--x) * ($cell-size + $board-gap)));

    color: hsl(0, 0%, var(--text-color-lightness));

    font-weight: 700;
    font-size: $tile-text-size;

    display: flex;
    align-items: center;
    justify-content: center;

    width: $cell-size;
    height: $cell-size;
    border-radius: $cell-border-radius;

    background-color: hsl(212, 29%, var(--bg-color-lightness));

    transition: .1s;
    animation: show .2s;
}

@keyframes show {
    0% {
        opacity: 0.5;
        transform: scale(0.5);
    }
}