.window {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: $window-text-color;
    background-color: $window-bg-color;

    font-size: $window-font-size;
    
    height: 100vh;
    padding: 20px;
}