// Window

$window-bg-color: #edede9;
$window-text-color: #b89c8d;
$window-font-size: 3vmin;


// Cell

$cell-size: 12vmin;
$cell-bg-color: #e3d5ca;
$cell-border-radius: 1vmin;


// Tile

$tile-text-size: 5vmin;


// Board

$board-gap: 2vmin;
$board-padding: 2vmin;
$board-bg-color: #d5bdaf;
$board-border-radius: 1vmin;


// Button

$btn-bg-color: #8d7467;