$light-color: #e0e1dd;
$dark-color: #1b263b;

$tile-text-size: 8vmin;
$tile-text-color: white;
$tile-background-color: #415a77;

$cell-size: 20vmin;
$cell-border-radius: 2vmin;

$board-gap: 2vmin;
$board-padding: 2vmin;
$board-border-radius: 2vmin;